.card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 246px;
  margin: 25px auto 0 auto;
}

@media screen and (max-width: 930px) {
  .card__title {
    width: 88%;
  }
}