.form__button_type_disabled {
  background-color: white;
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
  border-color: rgba(0, 0, 0, 0.2);
  transition: none;
  pointer-events: none;
}

.form__button_disabled_type:hover {
  background-color: rgba(0, 0, 0, 0.0);
}