.profile {
  color: white;
  display: grid;
  grid-template-columns: 120px repeat(2, 1fr);
  grid-template-areas: 
  "avatar name add"
  "avatar activity add";
  margin-top: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 750px) {
  .profile {
    margin-top: 42px;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "avatar"
      "name"
      "activity"
      "add";
      justify-items: center;
  }
}