.profile__edit {
  border: 0;
  width: 24px;
  height: 24px;
  background: url(../../../images/edit_button.svg);
  margin-left: 20px;
  cursor: pointer;
  display: inline-flex;
  transition: 0.4s ease;
  }

.profile__edit:hover {
  opacity: 60%;
}

@media screen and (max-width: 750px) {
    .profile__edit {
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 320px) {
    .profile__edit {
      width: 18px;
      height: 18px;
      background-size: 100%;
    }
  } 