.header__email {
  color: white;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 500px) {
  .header__email {
    font-size: 14px;
    line-height: 17px;
  }
}