.card__like {
  cursor: pointer;
  border: 0;
  background: url(../../../images/love_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 26px;
  transition: 0.4s ease;
}

.card__like:hover {
  opacity: 50%;
}