.popup__container {
  width: 430px;
  padding: 32px 36px 38px 36px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px 25px 22px;
  }
}